@import "tailwindcss";

@layer base {
  body {
    font-family: 'Fredoka', system-ui, sans-serif;
  }
}

@layer components {
  .btn-brutal {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border: 4px solid black;
    box-shadow: 4px 4px 0px 0px #000000;
    transition: all 0.2s;
  }
  
  .btn-brutal:hover {
    transform: translate(1px, 1px);
    box-shadow: none;
  }
  
  .btn-brutal:active {
    transform: scale(0.95);
  }
  
  .input-brutal {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border: 4px solid black;
    box-shadow: 4px 4px 0px 0px #000000;
    outline: none;
    transition: all 0.2s;
  }
  
  .input-brutal:focus {
    box-shadow: 8px 8px 0px 0px #000000;
  }
  
  .card-brutal {
    background-color: white;
    border: 4px solid black;
    box-shadow: 4px 4px 0px 0px #000000;
  }
}
